<div class="container">
  <header class="bg-info"></header>
  <nav class="bg-warning">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">TLW's Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" (click)="ghiNhanCN('')">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="ghiNhanCN('sp')">Sản phẩm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="ghiNhanCN('lh')">Liên hệ</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Tài khoản
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
                <li><a class="dropdown-item" href="#">Đăng ký</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Quên mật khẩu</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input type="text" name="tk">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </nav>
  <main>
    <div class="row">
      <article class="col-md-9 bg-light p-3 mb-5 bg-white rounded">
        <div [ngSwitch]="true">
          <div *ngSwitchCase="chucNang=='dn'" class="text-center">
            <app-dangnhap></app-dangnhap>
          </div>
          <div *ngSwitchCase="chucNang=='lh'" class="text-center">
            <app-lienhe></app-lienhe>
          </div>
          <div *ngSwitchCase="chucNang=='ct'" class="text-center">
            <app-productdetail [sp]="spDangXem"></app-productdetail>
          </div>
          <div *ngSwitchDefault class="text-center">
            <app-productlist (capnhatidSP)="ganSP($event)"></app-productlist>
          </div>
        </div>
      </article>
    


    </div>
    <aside class="col-md-3 bg-secondary h-70 w-5 " style="float: left;"></aside>
  </main>
  
  
  <footer class="bg-dark text-white text-center"></footer>
</div>
