<div class="container" style="width: 965px;">
    <div class="row">
      <div class="col">
        <div class="card">
          <img [src]="sp.urlImage" alt="Hình ảnh" class="card-img-top img-thumbnail" style="width: 200px; height: auto; text-align: center; margin: 0 auto;">
          <div class="card-body">
            <p class="card-text">idSP: {{sp.id}}</p>
            <p class="card-text">Tên SP: {{sp.tensp}}</p>
            <p class="card-text">Giá: {{sp.giasp}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  